---
layout: default
title: Publications
section_id: data
---


<div class='full parallax' style='background-image: url(images/cfht/maunaloa_crop.jpg); color: #fff;'
     xmlns="http://www.w3.org/1999/html">
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Publications" color="#fff" tagline="technical details" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='spacing'></div>

<!-- <div class='full.no-padding'>
  <div class='row'>
       <div class='large-12 columns'>'
            {% include section-header.html title="Recent Results" %}
            <div class='spacing'></div>
            <div>
                 <ul>
                      <li>
                           
<!--                           <em><a href="biases_faq">OSSOS VI. STRIKING BIASES IN THE DETECTION OF LARGE SEMIMAJOR AXIS TRANS-NEPTUNIAN OBJECTS.</a></em> : -->
<!--                            a new paper discussing the evidence for a massive planet in the outer solar system. -->
<!--                       </li>
                 </ul>
            </div>
       </div>
  </div> --> 
     
<div class='full.no-padding'>
  <div class='row'>
       <div class='large-12 columns'>'
            {% include section-header.html title="How to cite OSSOS" %}
            <div class='spacing'></div>
            <div>
                 If you use OSSOS data products (e.g. images or TNOs) or software in your paper, 
                 please cite the two survey papers:
                 <ul>
                      <li>
                           Bannister et al. <em>The Outer Solar System Origins Survey: I. Design and first-quarter discoveries.</em> AJ, 152, 70, 2016.
                           <em><a href="https://ui.adsabs.harvard.edu/#abs/2016AJ....152...70B/abstract">BibTeX</a></em>
                      </li>
                      <li>
                           Bannister et al. <em>OSSOS. VII. 800+ trans-Neptunian objects — the complete data release.</em> ApJS, 236(1):18, 2018.
                           <em><a href="https://ui.adsabs.harvard.edu/#abs/2018ApJS..236...18B/abstract">BibTeX</a></em>
                      </li>
                 </ul>
                 If you use the OSSOS survey simulator, please additionally cite:
                 <ul>
                      <li>
                           Lawler et al. <em>OSSOS: X. How to use a Survey Simulator: statistically robust testing of dynamical models against the real Kuiper belt.</em>
                           Frontiers in Astronomy and Space Sciences, 5 (14 pp), 2018.
                           <em><a href="https://doi.org/10.3389/fspas.2018.00014">DOI</a></em>
                      </li>
                 </ul>
            </div>
       </div>
  </div>

  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Publications" %}
      <div class='spacing'></div>
      <div>
           Some journals do not permit OSSOS paper numbering in the titles; below we indicate our own numbering with a <b>bold face</b> entry at the end of the reference.
      </div>
      <div class='spacing'></div>
      <div>
        <ul>
          <!-- Uses ADS format <li>  <em> %T </em>  %1.3A <A href="%u"> %q, %V, %p (%Y)</A></li> -->
<li>  <em> The Outer Solar System Origins Survey. I. Design and First-quarter Discoveries </em>  Bannister, Michele T., Kavelaars, J. J., Petit, Jean-Marc, and 36 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2016AJ....152...70B"> AJ, 152, 70 (2016)</A></li>
<li>  <em> OSSOS. II. A Sharp Transition in the Absolute Magnitude Distribution of the Kuiper Belt’s Scattering Population </em>  Shankman, C., Kavelaars, JJ., Gladman, B. J., and 8 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2016AJ....151...31S"> AJ, 151, 31 (2016)</A></li>
<li>  <em> OSSOS III—Resonant Trans-Neptunian Populations: Constraints from the first quarter of the Outer Solar System Origins Survey </em>  Volk, Kathryn, Murray-Clay, Ruth, Gladman, Brett, and 10 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2016AJ....152...23V"> AJ, 152, 23 (2016)</A></li>
<li>  <em> OSSOS. IV. Discovery of a Dwarf Planet Candidate in the 9:2 Resonance with Neptune </em>  Bannister, Michele T., Alexandersen, Mike, Benecchi, Susan D., and 32 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2016AJ....152..212B"> AJ, 152, 212 (2016)</A></li>
<li>  <em> OSSOS. V. Diffusion in the Orbit of a High-perihelion Distant Solar System Object </em>  Bannister, Michele T., Shankman, Cory, Volk, Kathryn, and 12 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2017AJ....153..262B"> AJ, 153, 262 (2017)</A></li>
<li>  <em> OSSOS. VI. Striking Biases in the Detection of Large Semimajor Axis Trans-Neptunian Objects </em>  Shankman, Cory, Kavelaars, J. J., Bannister, Michele T., and 9 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2017AJ....154...50S"> AJ, 154, 50 (2017)</A></li>
<li>  <em> OSSOS. VII. 800+ Trans-Neptunian Objects—The Complete Data Release </em>  Bannister, Michele T., Gladman, Brett J., Kavelaars, J. J., and 33 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2018ApJS..236...18B"> ApJS, 236, 18 (2018)</A></li>
<li>  <em> OSSOS. VIII. The Transition between Two Size Distribution Slopes in the Scattering Disk </em>  Lawler, S. M., Shankman, C., Kavelaars, J. J., and 9 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2018AJ....155..197L"> AJ, 155, 197 (2018)</A></li>
<li>  <em> OSSOS. IX. Two Objects in Neptune's 9:1 Resonance—Implications for Resonance Sticking in the Scattering Population </em>  Volk, Kathryn, Murray-Clay, Ruth A., Gladman, Brett J., and 12 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2018AJ....155..260V"> AJ, 155, 260 (2018)</A></li>
<li>  <em> OSSOS: X. How to use a Survey Simulator: Statistical Testing of Dynamical Models Against the Real Kuiper Belt </em>  Lawler, Samantha M., Kavelaars, J. J., Alexandersen, Mike, and 4 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2018FrASS...5...14L"> FrASS, 5, 14 (2018)</A></li>
<li>  <em> OSSOS. XI. No active centaurs in the Outer Solar System Origins Survey </em>  Cabral, Nahuel, Guilbert-Lepoutre, Aurélie, Fraser, Wesley C., and 10 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2019A&A...621A.102C"> A&A, 621, A102 (2019)</A></li>
<li>  <em> OSSOS. XII. Variability Studies of 65 Trans-Neptunian Objects Using the Hyper Suprime-Cam </em>  Alexandersen, Mike, Benecchi, Susan D., Chen, Ying-Tung, and 11 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2019ApJS..244...19A"> ApJS, 244, 19 (2019)</A></li>
<li>  <em> OSSOS. XIII. Fossilized Resonant Dropouts Tentatively Confirm Neptune’s Migration Was Grainy and Slow </em>  Lawler, S. M., Pike, R. E., Kaib, N., and 8 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2019AJ....157..253L"> AJ, 157, 253 (2019)</A></li>
<li>  <em> OSSOS. XIV. The Plane of the Kuiper Belt </em>  Van Laerhoven, Christa, Gladman, Brett, Volk, Kathryn, and 6 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2019AJ....158...49V"> AJ, 158, 49 (2019)</A></li>
<li>  <em> OSSOS. XV. Probing the Distant Solar System with Observed Scattering TNOs </em>  Kaib, Nathan A., Pike, Rosemary, Lawler, Samantha, and 6 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2019AJ....158...43K"> AJ, 158, 43 (2019)</A></li>
<li>  <em> A dearth of small members in the Haumea family revealed by OSSOS </em>  Pike, Rosemary E., Proudfoot, Benjamin C. N., Ragozzine, Darin, and 8 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2020NatAs...4...89P"> NatAs, 4, 89 (2020)</A> <b>OSSOS XVI</b></b></li>
<li>  <em> OSSOS. XVII. An upper limit on the number of distant planetary objects in the Solar System </em>  Ashton, Edward, Gladman, Brett, Kavelaars, J. J., and 8 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2021Icar..35613793A"> Icar, 356, 113793 (2021)</A></li>
<li>  <em> OSSOS. XVIII. Constraining Migration Models with the 2:1 Resonance Using the Outer Solar System Origins Survey </em>  Chen, Ying-Tung, Gladman, Brett, Volk, Kathryn, and 13 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2019AJ....158..214C"> AJ, 158, 214 (2019)</A></li>
<li>  <em> OSSOS. XIX. Testing Early Solar System Dynamical Models Using OSSOS Centaur Detections </em>  Nesvorný, David, Vokrouhlický, David, Stern, Alan S., and 9 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2019AJ....158..132N"> AJ, 158, 132 (2019)</A></li>
<li>  <em> OSSOS XX: The Meaning of Kuiper Belt Colors </em>  Nesvorný, David, Vokrouhlický, David, Alexandersen, Mike, and 9 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2020AJ....160...46N"> AJ, 160, 46 (2020)</A></li>
<li>  <em> OSSOS. XXI. Collision Probabilities in the Edgeworth-Kuiper Belt </em>  Abedin, Abedin Y., Kavelaars, J. J., Greenstreet, Sarah, and 8 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2021AJ....161..195A"> AJ, 161, 195 (2021)</A></li>
<li>  <em> OSSOS: The eccentricity and inclination distributions of the stable Neptunian Trojans </em>  Lin, Hsing Wen, Chen, Ying-Tung, Volk, Kathryn, and 10 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2021Icar..36114391L"> Icar, 361, 114391 (2021)</A> <b>OSSOS XXII</b></li>
<li>  <em> OSSOS. XXIII. 2013 VZ<SUB>70</SUB> and the Temporary Coorbitals of the Giant Planets </em>  Alexandersen, Mike, Greenstreet, Sarah, Gladman, Brett J., and 8 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2021PSJ.....2..212A"> PSJ, 2, 212 (2021)</A></li>
<li>  <em> OSSOS Finds an Exponential Cutoff in the Size Distribution of the Cold Classical Kuiper Belt </em>  Kavelaars, J. J., Petit, Jean-Marc, Gladman, Brett, and 5 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2021ApJ...920L..28K"> ApJL, 920, L28 (2021)</A> <b>OSSOS XXIV</b></li>
<li>  <em> OSSOS XXV: Large Populations and Scattering-Sticking in the Distant Trans-Neptunian Resonances </em>  Crompvoets, B. L., Lawler, S. M., Volk, K., and 8 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2022PSJ.....3..113C"> PSJ, 3, 113 (2022)</A></li>
<li>  <em> OSSOS. XXVI. On the Lack of Catastrophic Collisions in the Present Kuiper Belt </em>  Abedin, Abedin Y., Kavelaars, J. J., Petit, Jean-Marc, and 6 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2022AJ....164..261A"> AJ, 164, 261 (2022)</A></li>
<li>  <em> OSSOS. XXVII. Population Estimates for Theoretically Stable Centaurs between Uranus and Neptune </em>  Dorsey, Rosemary C., Bannister, Michele T., Lawler, Samantha M., and 1 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2023PSJ.....4..110D"> PSJ, 4, 110 (2023)</A></li>
<li>  <em> The Hot Main Kuiper Belt Size Distribution from OSSOS </em>  Petit, Jean-Marc, Gladman, Brett, Kavelaars, J. J., and 4 colleagues <A href="https://ui.adsabs.harvard.edu/abs/2023ApJ...947L...4P"> ApJL, 947, L4 (2023)</A> <b>OSSOS XXVIII</b></li>
<li>  <em> OSSOS. XXIX. The Population and Perihelion Distribution of the Detached Kuiper Belt</em>  Beaudoin, Matthew, Gladman, Brett, Huang, Yukun, and 4 colleagues <A href="https://arxiv.org/abs/2306.12847"> PSJ, in press</A> </li>
        </ul>
      </div>
      <div class='spacing'></div>
      <div>
           The <A href="https://www.colossos.net/">Col-OSSOS</A> collaboration, which aimed to determine the surface properties of Trans-Neptunian Objects (TNOs) by studying a magnitude limited sample of ~100 objects, published many valuable contributions that are listed <A href="https://www.colossos.net/publications">here.</A>
      </div>
     <div class='spacing'></div>
    </div>
  </div>
</div>

<div class='full.no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Conference presentations and proceedings" %}
      <div class='spacing'></div>
      <div>
        <ul>
          <li>
            <em><a href="https://ui.adsabs.harvard.edu/#search/q=property%3Anotrefereed%20full%3A%22Outer%20Solar%20System%20Origins%20Survey%22&sort=date%20desc%2C%20bibcode%20desc">ADS listing of all unrefereed presentations</a></em>
            <!---<em>OSSOS: the new era of precision planetary cosmogony</em>.
            Bannister, M. T., Kavelaars, J.J., Gladman, B., Petit, J.M., and the OSSOS Collaboration.
            Poster 414.10 at DPS, 2013.--->
            {% include figure.html src="images/presentations/DPS_OSSOS_poster_2013_lowres.jpg" %}
          </li>
          </ul>
      </div>
    </div>
  </div>
</div>

