---
layout: default
title: Publications
section_id: data
---


<div class='full parallax' style='background-image: url(images/cfht/maunaloa_crop.jpg); color: #fff;'
     xmlns="http://www.w3.org/1999/html">
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Publications" color="#fff" tagline="technical details" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='spacing'></div>

<!-- <div class='full.no-padding'>
  <div class='row'>
       <div class='large-12 columns'>'
            {% include section-header.html title="Recent Results" %}
            <div class='spacing'></div>
            <div>
                 <ul>
                      <li>
                           
<!--                           <em><a href="biases_faq">OSSOS VI. STRIKING BIASES IN THE DETECTION OF LARGE SEMIMAJOR AXIS TRANS-NEPTUNIAN OBJECTS.</a></em> : -->
<!--                            a new paper discussing the evidence for a massive planet in the outer solar system. -->
<!--                       </li>
                 </ul>
            </div>
       </div>
  </div> --> 
     
<div class='full.no-padding'>
  <div class='row'>
       <div class='large-12 columns'>'
            {% include section-header.html title="How to cite OSSOS" %}
            <div class='spacing'></div>
            <div>
                 If you use OSSOS data products (e.g. images or TNOs) or software in your paper, 
                 please cite the two survey papers:
                 <ul>
                      <li>
                           Bannister et al. <em>The Outer Solar System Origins Survey: I. Design and first-quarter discoveries.</em> AJ, 152, 70, 2016.
                           <em><a href="https://ui.adsabs.harvard.edu/#abs/2016AJ....152...70B/abstract">BibTeX</a></em>
                      </li>
                      <li>
                           Bannister et al. <em>OSSOS. VII. 800+ trans-Neptunian objects — the complete data release.</em> ApJS, 236(1):18, 2018.
                           <em><a href="https://ui.adsabs.harvard.edu/#abs/2018ApJS..236...18B/abstract">BibTeX</a></em>
                      </li>
                 </ul>
                 If you use the OSSOS survey simulator, please additionally cite:
                 <ul>
                      <li>
                           Lawler et al. <em>OSSOS: X. How to use a Survey Simulator: statistically robust testing of dynamical models against the real Kuiper belt.</em>
                           Frontiers in Astronomy and Space Sciences, 5 (14 pp), 2018.
                           <em><a href="https://doi.org/10.3389/fspas.2018.00014">DOI</a></em>
                      </li>
                 </ul>
            </div>
       </div>
  </div>

  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Publications" %}
      <div class='spacing'></div>
      <div>
        <ul>
          <li>
            <em>The Outer Solar System Origins Survey: I. Design and first-quarter discoveries.</em>
            M. T. Bannister, J.J. Kavelaars, J.-M. Petit, B. J. Gladman, S. Gwyn, K. Volk, Y.-T. Chen, M. Alexandersen,
and the OSSOS Collaboration. <em><a href="https://ui.adsabs.harvard.edu/#abs/2016AJ....152...70B/abstract">AJ, 152, 70, 2016.</a></em>
          </li>
          <li>
            <em>OSSOS II. A sharp transition in the absolute magnitude distribution of the Kuiper belt’s scattering population.</em>
            C. Shankman, J.J. Kavelaars, B. J. Gladman, M. Alexandersen, N. Kaib, J.-M. Petit, M. T. Bannister, Y.-T.
Chen, S. Gwyn, M. Jakubik, K. Volk. <em><a href="https://ui.adsabs.harvard.edu/#abs/2016AJ....151...31S/abstract">AJ,  151, 31, 2016.</a></em>
          </li>
          <li>
            <em>OSSOS III - Resonant Trans-Neptunian Populations: Constraints from the first quarter of the Outer Solar System
Origins Survey.</em>
            K. Volk, R. Murray-Clay, B. J. Gladman, S. Lawler, M. T. Bannister, J. J. Kavelaars, J.-M. Petit, S. Gwyn, M.
Alexandersen, Y.-T. Chen, P. S. Lykawka, W. Ip, H. W. Lin. <em><a href="https://ui.adsabs.harvard.edu/#abs/2016AJ....152...23V/abstract">AJ, 152, 23, 2016.</a></em>
          </li>
          <li>
            <em>OSSOS. IV. Discovery of a Dwarf Planet Candidate in the 9:2 Resonance with Neptune.</em>
             M. T. Bannister, et al. <em><a href="https://ui.adsabs.harvard.edu/#abs/2016AJ....152..212B/abstract">AJ, 152, 212, 2016.</a></em>
          </li>
          <li>
             <em>OSSOS. V. Diffusion in the orbit of a high-perihelion distant Solar System object.</em>
               M. T. Bannister, C. Shankman, K. Volk, Y.-T. Chen, N. Kaib, B. J. Gladman, M. Jakubik, J. J. Kavelaars, W. C. Fraser, M. E. Schwamb, J.-M. Petit, S.-Y. Wang, S. D. J. Gwyn, M. Alexandersen, R. E. Pike.
             <em><a href="http://adsabs.harvard.edu/abs/2017AJ....153..262B">AJ, 153, 262, 2017.</a></em>
          </li>
          <li>
               <em>OSSOS. VI. Striking biases in the detection of large semimajor axis trans-Neptunian objects.</em>
               C. Shankman, J.J. Kavelaars, M. T. Bannister, B. J. Gladman, S. M. Lawler, Y.-T. Chen, M. Jakubik, N. Kaib, J.-M. Petit, K. Volk, S. D. J. Gwyn, M. Alexandersen.
               <em><a href="http://adsabs.harvard.edu/abs/2017AJ....154...50S">AJ, 154(2):50, 2017.</a></em>
          </li>
          <li>
               <em>OSSOS. VII. 800+ trans-Neptunian objects — the complete data release.</em>
               M. T. Bannister, B. J. Gladman, J.J. Kavelaars, J.-M. Petit, K. Volk, Y.-T. Chen, M. Alexandersen, S. Gwyn, and the OSSOS Collaboration.
               Invited paper for special issue <em>Data: Insights and Challenges in a Time of Abundance</em>.
               <em><a href="https://ui.adsabs.harvard.edu/#abs/2018ApJS..236...18B/abstract">ApJS, 236(1):18, 2018.</a></em>
          </li>
          <li>
               <em>OSSOS. VIII. The transition between two size distribution slopes in the scattering disk.</em>
               S. M. Lawler, C. Shankman, J.J. Kavelaars, M. Alexandersen, M. T. Bannister, Y. T. Chen, B. J. Gladman, W. C. Fraser, S. D. J. Gwyn, N.A. Kaib, J.-M. Petit, K. Volk.
               <em><a href="http://adsabs.harvard.edu/abs/2018AJ....155..197L">AJ, 155(5):197 (9 pp), 2018.</a></em>
           </li> 
           <li>
               <em>OSSOS: IX. Two objects in Neptune’s 9:1 resonance — implications for resonance sticking in the scattering population.</em>
K. Volk, R. A. Murray-Clay, B. J. Gladman, S. M. Lawler, T. Y. M. Yu, M. Alexandersen, M. T. Bannister, Y. T. Chen, R. I. Dawson, S. Greenstreet, S. D. J. Gwyn, J.J. Kavelaars, H. W. Lin, P. S. Lykawka, J.-M. Petit. 
               <em><a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1802.05805">AJ, 155:260 (9 pp), 2018.</a></em>
           </li>
           <li>
               <em>OSSOS: X. How to use a Survey Simulator: statistically robust testing of dynamical models against the real Kuiper belt.</em>
               S.M. Lawler, J.J. Kavelaars, M. Alexandersen, M. T. Bannister, B. J. Gladman, J.-M. Petit, C. Shankman. 
               <em><a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1802.00460">Frontiers in Astronomy and Space Sciences, 5 (14 pp), 2018.</a></em>
           </li>
           <li>
                <em>OSSOS: XII. Variability studies of trans-Neptunian objects using the Hyper-Suprime Camera.</em>
               M. Alexandersen, S. D. Benecchi, Y.-T. Chen, M. R. Eduardo, A. Thirouin, M. E. Schwamb, M. J. Lehner, S.-Y. Wang, M. T. Bannister, B. J. Gladman, S. D. J. Gwyn, J.J. Kavelaars, J.-M. Petit, K. Volk.
               (24 pp).
               Submitted to The Astrophysical Journal Supplement Series.
           </li>
           <li></li>
               <em>OSSOS: XIII. Fossilised resonant dropouts imply Neptune's migration was grainy and slow.</em>
               S.M. Lawler, R. E. Pike, N. Kaib, M. Alexandersen, M. T. Bannister, Y.-T. Chen, B. J. Gladman, J.J. Kavelaars, J.-M. Petit, K. Volk.
               The Astronomical Journal, 157, 253, 2019. <em><a href="https://arxiv.org/abs/1808.02618">arXiv:1808.02618</a></em>
           </li>
          <li>
                <em>OSSOS: XVII. An upper limit on the number of distant planetary objects in the Solar System.</em> 
                E. Ashton, B. J. Gladman, J.J. Kavelaars, L. Jones, S. Krughoff, M. Alexandersen, M. T. Bannister, Y.-T. Chen, S. D. J. Gwyn, J.-M. Petit, K. Volk.
                Icarus, 356, 2021. <em><a href="https://ui.adsabs.harvard.edu/abs/2021Icar..35613793A/abstract"> NASA ADS</a></em>
           </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='full.no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Conference presentations and proceedings" %}
      <div class='spacing'></div>
      <div>
        <ul>
          <li>
            <em><a href="https://ui.adsabs.harvard.edu/#search/q=property%3Anotrefereed%20full%3A%22Outer%20Solar%20System%20Origins%20Survey%22&sort=date%20desc%2C%20bibcode%20desc">ADS listing of all unrefereed presentations</a></em>
            <!---<em>OSSOS: the new era of precision planetary cosmogony</em>.
            Bannister, M. T., Kavelaars, J.J., Gladman, B., Petit, J.M., and the OSSOS Collaboration.
            Poster 414.10 at DPS, 2013.--->
            {% include figure.html src="images/presentations/DPS_OSSOS_poster_2013_lowres.jpg" %}
          </li>
          </ul>
      </div>
    </div>
  </div>
</div>

